#calendar {
  position: relative;
}

#workouts {
  width: 100%;
  border-collapse: collapse;
}

#workouts th, #workouts td {
  border: solid 2px black;
}

#workouts th {
  text-align: center;
  color: #1C264E;
  background: #A7821E;
  font-weight: bold;
  font-size: 120%;
}

#workouts td {
  height: 150px;
  width: 100px;
  vertical-align: top;
  background: #D0E1F5;
}

#workouts td.today {
  border: double 2px blue;
}

#workouts td.past {
  background: #CCCCCC;
}

#workouts span.time {
  font-weight: bold;
}

#workouts ul {
  margin-left: 1px;
  padding-left: 0px;
}

#workouts li {
  list-style-type: none;
}

#calendar_tools {
  text-align: center;
  margin: 10px;
}

#calendar_search {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

#calendar_tools a {
  text-decoration: none;
  background: #888;
  padding: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

#calendar_tools a.new_workout {
  position: absolute;
  left: 0px;
  bottom: 0px;
  text-decoration: underline;
  background: none;
  padding: 0px;
  border-radius: 0px;
  -moz-border-radius: 0px;
}

