#pagebody {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background: #DDD;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  -moz-border-bottom-right-radius: 15px;
  -moz-border-bottom-left-radius: 15px;
}

#pageheader {
  height: 75px;
  position: relative;
  background: #2B3642;
  padding: 10px 5px;
}

#nav {
  display: block;
  position: absolute;
  top: 65px;
  right: 0px;
}

#pagecontents {
  background: #EEE;
  padding: 15px;
  position: relative;
}

#pagefooter {
  margin-top: 10px;
  padding: 10px;
}

.banner {
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  text-align: center;
  width: 100%;
  display: block;
  font-size: 120%;
  font-weight: bold;
  margin: 15px 0px;
  padding: 5px 0px;
}

a:link, a:visited, a:active, a:hover {
  color: #2B3642;
}

#flash {
  width: 100%;
}

#flash div {
  margin: 5px;
  padding: 5px;
}

#notice {
  background: #040;
  color: #060;
}

#alert {
  background: #400;
  color: #600;
}
