#details, #comments, #attendees {
  margin: 10px;
}

#details p {
  margin: 2px;
}

#attendees form, #attendees #change_interest{
  display: inline;
}

.comment {
  border: solid #AAA 1px;
  margin: 5px 0px;
}

.comment .owner {
  border: solid #BBB 1px;
}

.comment .comment_header {
  display: block;
  background: #AAA;
  margin-bottom: 2px;
}

.comment .comment_header .owner {
  background: #BBB;
}

.comment span {
  padding: 2px;
}

#mark_interest {
  text-align: right;
}

#post_comment {
  text-align: right;
}

#post_comment textarea {
  width: 100%;
}
