<div id="post_comment">
  <%= form_for [@workout, @workout.workout_comments.build] do |f| %>
    <%= text_area :workout_comments, :comment, :rows => 3 %><br />
    <%= f.submit "Post Comment" %>
  <% end %>
</div>
